*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: white;
    font-family: 'Montserrat' sans-serif;
    color: #261104;
    width: 1900px;
    height: 900px;
}

.pictured{
    padding-top: 33px;
    padding-bottom: 71px;
    background-color:#FBF6F4;
    background-position: center;
    background-size: cover;
}

.conteiner{
    max-width: 1135px;
    margin: auto;
}

.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo{
    display: inline-block;
    transform: translateY(-8px);
    margin-right: 32px;
}

a:hover{
    text-decoration: none;
}

.mobiel{
    display: inline-block;
    transform: translateY(-8px);
    margin-right: 33px;
}