*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pin span{
    position: absolute;
    width: 223px;
    height: 24px;
    left: 36px;
    top: 281.17px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }